@font-face {
  font-family: Gordita;
  src:url(fonts/Gordita\ Bold.otf)
}

@font-face {
   font-family: Gordita-2;
   src:url(fonts/Gordita\ Regular.otf)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Gordita-2;
  background-color: #fff;
}

::-webkit-scrollbar {
 width: 4px;
}

::-webkit-scrollbar-track {
 box-shadow: inset 0 0 2px grey;
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
 background: #57F287;
 border-radius: 10px;
}

/* NAVBAR */

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  color: #1e224f;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.nav-links a {
  color: #1e224f;
  font-weight: bold;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

a:hover {
 color: #57F287;
}

input[type=checkbox] {
  display: none;
} 

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
}

@media (max-width: 768px) {
 .menu {
    display:none;
    position: absolute;
    background-color: #fff;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type=checkbox]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }
}

/* ENDING */

.ending {
 height: 200px;
 width: 100%;
}

.ending-title {
 color: #1e224f;
 width: 200px;
 font-family: Gordita;
 font-size: 30px;
 position: relative;
 top: 90px;
 left: 9%;
}

.ending-text {
 color: #1e224f;
 width: 300px;
 font-weight: bold;
 font: 16px;
 position: relative;
 top: 100px;
 left: 9%;
}

/* HOME */

/* HOME - 1 */

.home-1 {
 height: 1000px;
 width: 100%;
}

.title-1 {
 color: #1e224f;
 font-size: 55px;
 text-align: center;
 font-family: Gordita;
 font-weight: bold;
 position: relative;
 top: 100px;
}

.about-1 {
 color: #1e224f;
 font-size: 20px;
 text-align: center;
 font-family: Gordita-2;
 font-weight: bold;
 position: relative;
 top: 100px;
}

.btn-1 {
 position: relative;
 display: block;
 padding: 15px 30px;
 text-align: center;
 font-size: 18px;
 letter-spacing: 1px;
 text-decoration: none;
 position: relative;
 bottom: 150px;
 margin: auto;
 color: #1e224f;
 background: transparent;
 cursor: pointer;
 transition: ease-out 0.5s;
 border: 2px solid #57F287;
 border-radius: 10px;
 box-shadow: inset 0 0 0 0 #57F287;
}

.btn-1:hover {
 color: #fff;
 background-color: #57F287;
}

@media (max-width: 768px) {
 .home-1 {
   position: relative;
   top: 120px;
 }
}

.web-ui {
 position: relative;
 bottom: 80px;
 display: block;
 margin: auto;
 width: 1100px;
}

@media (max-width: 768px) {
 .web-ui {
   position: relative;
   top: 200px;
   width: 550px;
 }
}


/* HOME - 2 */

.home-2 {
 height: 750px;
 width: 100%;
 background-color: #e1e2f2;
 border-radius: 80px;
}

.feature-title {
 font-size: 30px;
 color: #1e224f;
 font-family: Gordita;
 position: relative;
 top: 20px;
}

.feature-about {
 font-size: 16px;
 font-weight: bold;
 color: #1e224f;
 position: relative;
 top: 18px;
}

.feature-1 {
 background-color: #fff;
 height: 260px;
 padding: 26px;
 width: 360px;
 position: relative;
 float: left;
 left: 9%;
 top: 100px;
 border-radius: 20px;
 transition: ease-out 0.5s;
}

.Image-1 {
 width: 50px;
}

.feature-2 {
 background-color: #fff;
 height: 260px;
 padding: 26px;
 width: 400px;
 position: relative;
 float: left;
 left: 10%;
 top: 100px;
 border-radius: 20px;
 transition: ease-out 0.5s;
}

.Image-2 {
 width: 50px;
}

.feature-3 {
 background-color: #fff;
 height: 260px;
 padding: 26px;
 width: 560px;
 position: relative;
 float: right;
 right: 50%;
 top: 375px;
 border-radius: 20px;
 transition: ease-out 0.5s;
}

.Image-3 {
 width: 50px;
}

.Image-4 {
 position: relative;
 float: right;
 right: 6%;
 bottom: 140px;
}

.feature-1:hover {
 transform: scale(1.03);
 cursor: pointer;
}

.feature-2:hover {
 transform: scale(1.03);
 cursor: pointer;
}

.feature-3:hover {
 transform: scale(1.03);
 cursor: pointer;
}

/* HOME - 3 */

.home-3 {
 height: 250px;
 width: 100%;
}

.home-3-title {
 color: #1e224f;
 text-align: center;
 font-family: Gordita;
 font-size: 55px;
 position: relative;
 top: 50px;
 font-weight: bold;
}

.home-3-btn {
 position: relative;
 display: block;
 padding: 15px 30px;
 text-align: center;
 font-size: 18px;
 letter-spacing: 1px;
 text-decoration: none;
 position: relative;
 top: 80px;
 margin: auto;
 color: #1e224f;
 background: transparent;
 cursor: pointer;
 transition: ease-out 0.5s;
 border: 2px solid #57F287;
 border-radius: 10px;
 box-shadow: inset 0 0 0 0 #57F287;
}

.home-3-btn:hover {
 color: #fff;
 background-color: #57F287;
}

/* ABOUT */

/* ABOUT - 1 */

.about-1 {
 height: 300px;
 width: 100%;
}

.about-1-title {
 color: #1e224f;
 text-align: center;
 font-size: 55px;
 font-weight: bold;
 font-family: Gordita;
}

.about-1-about {
 color: #1e224f;
 text-align: center;
 font-size: 20px;
}

/* ABOUT - 2 */

.about-2 {
 height: 800px;
 width: 100%;
}

.about-feature-1:hover {
 transform: scale(1.05);
 cursor: pointer;
}

.about-feature-2:hover {
 transform: scale(1.05);
 cursor: pointer;
}

.about-feature-3:hover {
 transform: scale(1.05);
 cursor: pointer;
}

.about-feature-title {
 position: relative;
 font-size: 30px;
 font-weight: bold;
 font-family: Gordita;
 color: #1e224f;
 float: right;
 right: 10%;
}

.about-feature-about {
 position: relative;
 width: 500px;
 text-align: right;
 font-size: 16px;
 font-weight: bold;
 color: #1e224f;
 float: right;
 right: 10%;
 bottom: 45px;
}

.about-feature-1 {
 background-color: #e1e2f2;
 display: block;
 margin: auto;
 height: 240px;
 padding: 26px;
 width: 660px;
 position: relative;
 border-radius: 20px;
 transition: ease-out 0.5s;
}

.Image-5 {
 width: 100px;
 position: relative;
 left: 20px;
 top: 40px;
}

.about-feature-2 {
 background-color: #e1e2f2;
 display: block;
 margin: auto;
 height: 240px;
 padding: 26px;
 width: 660px;
 position: relative;
 top: 20px;
 border-radius: 20px;
 transition: ease-out 0.5s;
}

.Image-6 {
 width: 100px;
 position: relative;
 top: 40px;
 left: 20px;
}

.about-feature-3 {
 background-color: #e1e2f2;
 display: block;
 margin: auto;
 height: 240px;
 padding: 26px;
 width: 660px;
 position: relative;
 top: 40px;
 border-radius: 20px;
 transition: ease-out 0.5s;
}

.Image-7 {
 width: 100px;
 position: relative;
 left: 20px;
 top: 40px;
}

/* CONTACT */

.contact {
 height: 100px;
 width: 100%;
}

.contact-title {
 color: #1e224f;
 position: relative;
 top: 50px;
 text-align: center;
 font-size: 55px;
 font-weight: bold;
 font-family: Gordita;
}

.contact-about {
 color: #1e224f;
 position: relative;
 top:50px;
 font-size: 20px;
 text-align: center;
 font-weight: bold;
}

form { max-width:420px; margin:50px auto; }

form {
 position: relative;
 top: 80px;
}

.feedback-input {
 color:#1e224f;
 font-family: Helvetica, Arial, sans-serif;
 font-weight:500;
 font-size: 18px;
 border-radius: 5px;
 line-height: 22px;
 background-color: transparent;
 border:2px solid #57F287;
 transition: all 0.3s;
 padding: 13px;
 margin-bottom: 15px;
 width:100%;
 box-sizing: border-box;
 outline:0;
}

.feedback-input:focus { border:2px solid #1e224f; }

textarea {
 height: 150px;
 line-height: 150%;
 resize:vertical;
}

[type="submit"] {
 font-family: Gordita;
 width: 100%;
 background:#57F287;
 border-radius:5px;
 border:0;
 cursor:pointer;
 color:white;
 font-size:24px;
 padding-top:10px;
 padding-bottom:10px;
 transition: all 0.3s;
 margin-top:-4px;
 font-weight:700;
}
/* Media query for devices with screen width less than or equal to 600px */
  @media (max-width: 600px) {
    div{
      height: 50px;
    }
  }
   /* Media query for devices with screen width between 601px and 1200px */
    @media (min-width: 601px) and (max-width: 1200px) {
       div{
        height: 150px;
      }
    }
     
      /* Media query for devices with screen width greater than 1200px */
  @media (min-width: 1201px) {
    div {
      height: 200px; 
    }
  }

[type="submit"]:hover { background:#1e224f; }
